.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        Resend Password Confirmation

      .panel-body
        = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| 
          = devise_error_messages! 

          .form-group
            = f.label :email 
            = f.email_field :email, :autofocus => true, class: 'form-control'

          .actions 
            = f.submit "Resend Email", class: 'btn btn-primary'

        %br
        = render "devise/shared/links" 
