.visible-xs
  %ul.nav.nav-tabs
    %li.active
      %a{:href => "#sign_in", :"data-toggle" => "tab"} Sign In
    %li
      %a{:href => "#sign_up", :"data-toggle" => "tab"} Sign Up

  .tab-content
    .tab-pane.active#sign_in
      %br
      = render "sign_in_form"

    .tab-pane#sign_up
      %br
      = render "registration_form"

  = render "devise/shared/links"

.hidden-xs
  .row
    .col-sm-6
      %h2 Sign in
      = render "sign_in_form"

    .col-sm-6
      %h2 Sign up
      = render "registration_form"

  = render "devise/shared/links"
