.visible-xs.sign-up-page-mobile
  %ul.nav.nav-tabs
    %li.active
      %a{:href => "#sign_up", :"data-toggle" => "tab"} Sign Up
    %li
      %a{:href => "#sign_in", :"data-toggle" => "tab"} Sign In
    

  .tab-content
    .tab-pane.active#sign_up
      %br
      = render "registration_form"
    .tab-pane#sign_in
      %br
      = render "sign_in_form"


    %br
    = render "devise/shared/links"

.hidden-xs
  %br
  .row
    .col-sm-6
      .panel.panel-default
        .panel-heading
          Sign In
        .panel-body
          = render "sign_in_form"
          %br
          = render "devise/shared/links"

    .col-sm-6
      .panel.panel-default
        .panel-heading
          Sign Up
        .panel-body
          = render "registration_form"

