.group-add-player-form
  = form_tag add_player_group_path(@group), method: 'post', class: "form-inline" do |f| 
    - if @group.errors.any? 
      #error_explanation
        %h2 #{pluralize(@group.errors.count, "error")} prohibited this group from being saved:

        %ul
          - @group.errors.full_messages.each do |msg| 
            %li= msg

    .form-group
      = text_field_tag "username", '', placeholder: 'username', class: 'form-control player-input'

    = submit_tag 'Add Player', :class => "btn btn-primary"
