= form_for(@group) do |f| 
  - if @group.errors.any? 
    #error_explanation
      %h2 #{pluralize(@group.errors.count, "error")} prohibited this group from being saved:

      %ul
        - @group.errors.full_messages.each do |msg| 
          %li= msg

  .row
    .form-group
      = text_field_tag "group[username]", '', placeholder: 'Add Player', class: 'form-control player-input'

  .actions
    = f.submit :class => "btn btn-primary", :value => "Add Player" 
