= form_for(@group) do |f| 
  - if @group.errors.any? 
    #error_explanation
      %h2 #{pluralize(@group.errors.count, "error")} prohibited this group from being saved:

      %ul
        - @group.errors.full_messages.each do |msg| 
          %li= msg



  .form-group
    = f.label :name, "Group Name"
    = f.text_field :name, placeholder: 'name', class: 'form-control'
  .form-group
    = f.label :image, "Banner Image"
    = f.file_field :image
    %p.help-block
      This image will be cropped to 1170x200 pixels to fit in the banner at the top of your group's page.

  .actions
    = f.submit :class => "btn btn-primary", :value => "Save Group" 
