- background = @group.image.exists? ? ("url(" + URI.join(request.url, @group.image.url(:full_width)).to_s + ")") : ""
.group-header-image{:style => "background: #{background}"}
  
  .group-admin-links.hidden-xs
    - if can? :update, @group
      You're the administrator!
      %ul.list-inline
        %li= link_to "Edit Group", edit_group_path(@group)
        %li= link_to "Delete Group", group_path(@group), :method => "delete", :confirm => "Are you sure you want to delete the group \"#{@group.name}\"? This cannot be undone."
    - else
      Administrator:
      = link_to @group.admin.username, @group.admin, :class => "player-link"

  %h1 #{@group.name}
  
%br.visible-xs
%ul.nav.nav-tabs.visible-xs.group-tabs
  %li.active
    %a{:href => "#players", :"data-toggle" => "tab"} Player Rankings
  %li
    %a{:href => "#games", :"data-toggle" => "tab"} Game Feed
.row.tab-content
  .col-sm-6.tab-pane.active#players
    %h3.hidden-xs Players
    %br.visible-xs
    = render partial: 'players/ranking', locals: { players: @players }
    - if can? :add_player, @group
      = render 'add_player_form'
  .col-sm-6.tab-pane#games
    %h3.hidden-xs Games
    %br.visible-xs
    .games
      - @group.games.each do |game|
        = render "games/game", game: game
