.group-admin-links
  - if can? :update, @group
    Administrator Links
    %ul.list-unstyled
      %li= link_to "Edit Group", edit_group_path(@group)
      %li= link_to "Delete Group", group_path(@group), :method => "delete", :confirm => "Are you sure you want to delete the group \"#{@group.name}\"? This cannot be undone."
%h1 #{@group.name}

.row
  .col-sm-6
    %h3 Players
    = render partial: 'players/ranking', locals: { players: @players }
  .col-sm-6
    %h3 Games
    .games
      - @group.games.each do |game|
        = render "games/game", game: game