= form_for(@game) do |f| 
  - if @game.errors.any? 
    #error_explanation
      %h2 #{pluralize(@game.errors.count, "error")} prohibited this game from being saved:

      %ul
        - @game.errors.full_messages.each do |msg| 
          %li= msg

  .row
    .col-md-6
      %h4 Winners
      .form-group
        = text_field_tag "game[winner_usernames][]", @game.winner_usernames[0], :placeholder => "username", :class => "form-control player-input"
      .form-group
        = text_field_tag "game[winner_usernames][]", @game.winner_usernames[1], :placeholder => "username", :class => "form-control player-input"

    .col-md-6
      %h4 Losers
      .form-group
        = text_field_tag "game[loser_usernames][]", @game.loser_usernames[0], :placeholder => "username", :class => "form-control player-input"
      .form-group
        = text_field_tag "game[loser_usernames][]", @game.loser_usernames[1], :placeholder => "username", :class => "form-control player-input"

  .actions
    = f.submit :class => "btn btn-primary", :value => "Save Game" 
