 <%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="winners_form" class="field">
    <h3>Winners</h3>
    <%= f.fields_for :winning_participations do |builder|%>
    <%= render "winner_form", :f => builder %>
    <%end%>
  </div>

  <div id="losers_form" class="field">
    <h3>Losers</h3>
    <%= f.fields_for :losing_participations do |builder|%>
    <%= render "loser_form", :f => builder %>
    <%end%>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
