<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Winners:
  <%= text_field_tag "game[winner_usernames][]", "alice" %>
  <%= text_field_tag "game[winner_usernames][]", "bob" %>
  
  Losers:
  <%= text_field_tag "game[loser_usernames][]", "calvin" %>
  <%= text_field_tag "game[loser_usernames][]", "david" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
