.game{:id => "game-#{game.id}"}
  - highlight ||= @player
  .winners
    - game.winners.each do |player|
      .player{:class => (highlight == player) ? "highlight" : ""}
        = link_to player.username, player
  .separator
    won against
  .losers
    - game.losers.each do |player|
      .player{:class => (highlight == player) ? "highlight" : ""}
        = link_to player.username, player 
  - if not game.confirmed? and can? :confirm, game
    .confirmation
      = link_to "Confirm Game", confirm_game_path(game), :class => "btn btn-primary game-confirmation-button", :"data-hide" => "#game-#{game.id}", :method => "post"
  .footer
    %span.time
      %span.local-time
        -# this time is parsed with javascript, look at localizeTime.js.coffee 
        = game.created_at.to_i
    = link_to "details", game

