.show-game-page
  .row
    %h2.col-md-8
      Game From
      %span.local-time= @game.created_at.to_i
    .col-md-4
      .game-confirmation-status
        - if @game.confirmed?
          %span.glyphicon.glyphicon-ok
          %span Game Confirmed
        - else
          %span Game Unconfirmed
          - if can? :confirm, @game
            = link_to "Confirm Game", confirm_game_path(@game), :method => "post", :class => "btn btn-primary"

  %table.table.game-page-table
    %tr
      %th
        Winners
      %th
        Losers
    %tr
      -# winner 1
      - player = @game.winners[0]
      %td
        %strong= link_to player.username, player
      -#loser 1
      - player = @game.losers[0]
      %td
        %strong= link_to player.username, player
    %tr
      -# winner 2
      - player = @game.winners[1]
      %td
        %strong= link_to player.username, player
      -#loser 2
      - player = @game.losers[1]
      %td
        %strong= link_to player.username, player



