%h1= @player.username
.player-summary
  %ul
    %li 
      %span.glyphicon.glyphicon-tasks
      #{pluralize @player.games_count, "Game"} Played
    %li
      %span.glyphicon.glyphicon-globe
      Global Rank ##{@player.rank}/#{Player.count}
    %li
      %span.glyphicon.glyphicon-star
      Elo #{number_with_precision(@player.points, precision: 0)}
.row
  .col-sm-6
    - if @shared_groups.any?
      - if @player == current_player
        %h3 Groups you're in
      - else
        %h3 Groups you're both in
      %ul.shared-groups.list-unstyled
        - @shared_groups.each do |group|
          %li
            = render partial: "groups/group", object: group
  .col-sm-6
    %h3 Games #{@player.username} has played in
    - if @player.games.any?
      .games
        = render partial: "games/game", collection: @player.confirmed_games

    - else
      .well #{@player.username} hasn't played any games yet!
