%h1= @player.username
%ul.player-stats
  %li #{number_with_precision(@player.points, precision: 0)} Points
  %li Ranked ##{@player.ranking}/#{Player.count}
  %li Has played #{pluralize @player.games_count, "game"}
%h3 Games #{@player.username} has played in
- if @player.games.any?

  .games
    = render partial: "games/game", collection: @player.confirmed_games

- else
  .well #{@player.username} hasn't played any games yet!
