!!! html
%html
  %head
    %title rerack.me
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
%body
  .container
    %nav.navbar.navbar-default
      .navbar-header
        %a.navbar-brand
          rerack
      - if current_player
        %ul.nav.navbar-nav
          %li
            = link_to "Add Game", new_game_path
          %li
            = link_to "Game Feed", games_path
          %li
            = link_to "Rankings", players_path
        %ul.nav.navbar-nav.navbar-right
          %li
            .navbar-text= render :partial => "players/player", :object => current_player
          %li
            = link_to "Sign out", destroy_player_session_path, :method => "DELETE"
            
    - flash.each do |key, value|
      - case key.to_s
      - when "notice"
        - alert_class = "success"
      - when "error"
        - alert_class = "danger"
      - else
        - alert_class = "info"
      .alert{:class => "alert-#{alert_class}"}
        = value

    = yield
