!!! html
%html
  %head
    %title rerack.me
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
    = csrf_meta_tags
%body
  .container
    - if current_player
      %nav.navbar.navbar-default
        .navbar-header
          %button.navbar-toggle{:type => "button", :"data-toggle" => "collapse", :"data-target" => ".navbar-collapse"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "rerack.me", root_path, :class => "navbar-brand"
          .visible-xs.pull-left{:style => "position: relative; top: 8px"}
            = link_to "Add Game", new_game_path, :class => "btn btn-primary"

        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.hidden-xs
              = link_to "Add Game", new_game_path
            %li
              = link_to "Game Feed", games_path
            %li
              = link_to "Rankings", players_path

          %ul.nav.navbar-nav.navbar-right.hidden-xs
            %li
              = link_to "Sign out", destroy_player_session_path, :method => "DELETE"
          .navbar-text.navbar-right= render :partial => "players/player", :object => current_player
          -# duplicated so that it appears at the bottom in the collapsed menu
          %ul.nav.navbar-nav.navbar-right.visible-xs
            %li
              = link_to "Sign out", destroy_player_session_path, :method => "DELETE"
    - else # not logged in
      %h1.text-center rerack.me
      %p.text-center The best pong player ranking system.
            
    - flash.each do |key, value|
      - case key.to_s
      - when "notice"
        - alert_class = "success"
      - when "error"
        - alert_class = "danger"
      - else
        - alert_class = "info"
      .alert{:class => "alert-#{alert_class}"}
        = value

    = yield
    = render 'layouts/footer'
